@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-gold: #c5a37d;      
  --color-brand-navy: #0a141f;
  
  --color-zinc-950: #0a141f;
  --color-zinc-900: #0f1a26;
  --color-zinc-800: #1a2633;
  --color-zinc-400: #94a3b8;
  --color-bg-main: #0a141f;
}

:root {
  --background: #ffffff;
  --foreground: #0a141f;
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}

.dark {
  --background: #0a141f;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-serif {
  font-family: var(--font-playfair), serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: #c5a37d;
  color: #0a141f;
}